<div class="b-example-divider"></div>

<div class="container">
    <header class="page-header d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a routerLink="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <b>E-Learning System</b>
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 link-secondary">Home</a></li>

            <li><a class="nav-link px-2 link-secondary">Dashboard</a></li>
        </ul>

        
    </header>
</div>